h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    animation-name: color_switcher;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
}

@keyframes color_switcher {
    from{box-shadow: 2px 2px 38px lime;}
    to{box-shadow: 2px 2px 38px cyan;}
}